<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Post | Flask</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                      <label>Book Name : </label>
                      <input type="text" name="book_name" class="form-control" id="book_name">
                    </div>
                    <div class="form-group">
                      <label>Original Price : </label>
                      <input type="text" name="original_price" class="form-control" id="original_price">
                    </div>
                    <div class="form-group">
                      <label>Sale Price : </label>
                      <input type="text" name="sale_price" class="form-control" id="sale_price">
                    </div>
                    <div class="form-group">
                      <label>category : </label>
                      <input type="text" name="category" class="form-control" id="category">
                    </div>
                    <div class="form-group">
                      <label>Info : </label>
                      <input type="text" name="info" class="form-control" id="info">
                    </div>
                    <div class="form-group">
                      <label>ISBN : </label>
                      <input type="text" name="isbn" class="form-control" id="isbn">
                    </div>
                    <div class="form-group">
                      <label>upload_pic_path : </label>
                      <input type="text" name="upload_pic_path" class="form-control" id="upload_pic_path">
                    </div>
                    <button type="submit" class="btn form-control btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>